body { 
    background-image: url(../images/mybg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

header {
    margin-bottom: 220px;
}

.offcanvas-title-color {
    color: white;
}

.offcanvas-end {
    width: 300px !important;
}


//img-configs
.big-img {
    max-height: 800px;
    min-width: 400px;
    padding: 30px;
}


//txt-configs
.p-profile {
    font-size: 1.5rem;
    font-weight: 300;
}

.white-txt {
    color: white;
}

.txt-grey {
    color: #212529;
}

.txt-begin {
    padding-left: 30px;
    font-size: 5rem;
}

.txt-our-course {
    font-size: 4rem;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.txt-our-course-sm {
    font-size: 1.5rem;
    
}


//col-config
// .col {
//     background-color: rgba(0, 0, 255, 0.37);
// }

.col-center {
    align-self: center;
}

.col-center-2 {
    align-self: center;
    justify-content: space-between;
}


//btn-config
.btn-begin {
    display: flex;
    justify-content: center;
}


//row-config
.row {
    margin-bottom:70px;
    // background-color: rgba(255, 0, 0, 0.356);
}

.row-space-evenly {
    justify-content: space-evenly;
    margin-bottom: 15px;
}


//footer-config
.my-footer {
    margin-bottom: 15px;
}

//scroll
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(22, 22, 21);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(12, 12, 12);
    border-radius: 20px;
    border: 3px solid rgb(20, 20, 20);
  }


//media-query-config
// @media (max-width: 321px) {
//     .txt-begin {
//       font-size: 2rem;
//     }
// }