body { 
    background-image: url(../images/mybg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

header {
    margin-bottom: 220px;
}


//offcanvas-configs
.offcanvas-title-color {
    color: white;
}

.offcanvas-end {
    width: 300px !important;
}


//img-configs
.big-img {
    max-height: 800px;
    min-width: 400px;
    padding: 30px;
}


//txt-configs
.white-txt {
    color: white;
}

.txt-orange {
    color: #C97B28;
}

.txt-light-grey {
    color: #b1b1b1;
}

.txt-begin {
    padding-left: 30px;
}

.txt-our-course {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.txt-mentors {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.txt-profile {
    font-weight: 300;
}

.txt-investment-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.txt-investment {
    padding-left: 30px;
}


//col-configs
.col-center {
    align-self: center;
}

.col-center-2 {
    align-self: center;
    justify-content: space-between;
}


//btn-config
.btn-begin {
    display: flex;
    justify-content: center;
}

.btn-investment {
    background-color: #C97B28 !important;
    color: white !important;
    border-color: #C97B28 !important;
}


//row-config
.row {
    margin-bottom:70px;
}

.row-space-evenly {
    justify-content: space-evenly;
    margin-bottom: 15px;
}


//footer-config
.my-footer {
    margin-bottom: 15px;
}


//scroll
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(22, 22, 21);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(12, 12, 12);
    border-radius: 20px;
    border: 3px solid rgb(20, 20, 20);
  }
