body {
    background-image: url(images/mybg.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.offcanvas-title-color {
    color: white;
}

.offcanvas-end {
    width: 300px !important;
}

.quadrado {
    height: 200px;
    width: 200px;
    background-color: black;
}