p {
    margin-top: 0.8rem;
}

iframe {
    margin-bottom: 0.8rem;
}

mark {
    background-color: #212529;
    color: white;
    padding: 0em;
}

.site-start {
    padding-top: 100px;
}

.lead {
    font-weight: 500;
}

.CAT-btn {
    padding: 3rem;
}

@media (max-width: 769px) {

}