body {
    background-image: url(../images/background.png);
    background-blend-mode: color;
    background-color: #cececebb;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    margin-top: 0.8rem;
}

iframe {
    margin-bottom: 0.8rem;
}

mark {
    background-color: #212529;
    color: white;
    padding: 0em;
}

.navbar {
    flex-wrap: wrap;
}

.my-logo {
    width: auto;
    height: 50px;
}

.collapse {
    justify-content: end;
}

.site-start {
    padding-top: 130px;
}

.lead {
    font-weight: 500;
}

.CAT-btn {
    padding: 3rem 0rem;
}

.shadow-txt {
    text-shadow: rgb(112, 112, 112) 0.1em 0.1em 0.2em;
    font-size: 5em;
}

@media (max-width: 1400px) {
    .txt {
        display: flex;
        flex-wrap: wrap;
        
    }

    .h3, .lead {
        font-size: large;
    }
}

@media (max-width: 1199px) {

    .h3, .lead {
        font-size: medium;
    }

    .my-logo {
        width: auto;
        height: 40px;
    }
}

@media (max-width: 990px) {
    .video {
        display: flex;
        justify-content: center;
    }

    .txt {
        padding-top: 45px;
    }

    .btn {
        font-size: medium;
    }

    .shadow-txt {
        font-size: 3em;
    }
}

@media (max-width: 514px) {
    .shadow-txt {
        font-size: 2em;
    }
}

@media (max-width: 497px) {
    .btn {
        font-size: small;
    }

    .my-logo {
        width: auto;
        height: 30px;
    }
}

@media (max-width: 432px) {
    .h3{
        font-size: medium;
    }

    .btn {
        font-size: x-small;
    }
}

@media (max-width: 368px) {
    .shadow-txt {
        font-size: 1.5em;
    }
}

@media (max-width: 368px) {
    .h3{
        font-size: small;
    }

    .lead {
        font-size: small;
    }

    .btn {
        font-size: xx-small;
    }

    .CAT-btn {
        padding: 3rem 0rem;
    }

}